//  header destokp
@import 'mixins';

.headeR-Pyramid {
  cursor: pointer;
  margin-bottom: 1rem;
  padding-right: 35rem;
  @include gradients_principal;
  display: flex;
  justify-content: center;

  .dropdown {
    padding-top: 0rem;
    padding-right: 25rem;
  }


  .pyramiD-Text {
    color: white;
  }

  .PyramiD-Logo {
    height: 4rem;


  }
}